{% extends 'base.html' %} {% load static %} {% load i18n %} {% block content %}
<!-- Main -->
<main>
    <div class="cart">
        <div class="cart__tplist">
            <div class="cart__tplist-title">{% trans 'bought products' %}</div>
            <div class="scroll">
                <table class="cart__tplist-box">
                    <thead>
                        <tr>
                            <th>{% trans 'product' %}</th>
                            <th>{% trans 'description' %}</th>
                            <th>{% trans 'product code' %}</th>
                            <th>{% trans 'part no.' %}</th>
                            <th>{% trans 'number of products' %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="psection"></tbody>
                </table>
            </div>
        </div>
        <div class="cart__total">
            {% comment %} <div class="cart__total-box">
                <div class="cart__total__data gold">
                    <div class="cart__total__data-name">total product:</div>
                    <div class="cart__total__data-value">1590&nbsp;$</div>
                </div>
                <div class="cart__total__data gold">
                    <div class="cart__total__data-name">total shipping:</div>
                    <div class="cart__total__data-value">390&nbsp;$</div>
                </div>
                <div class="cart__total__data-hr"></div>
                <div class="cart__total__data red">
                    <div class="cart__total__data-name">total:</div>
                    <div class="cart__total__data-value">1940&nbsp;$</div>
                </div>
            </div> {% endcomment %}
            <h1>{% trans 'total payment costs' %}</h1>
            <div class="total_shopping">
                <div class="headers">
                    <div>دلار</div>
                    <div>درهم</div>
                    <div>ریال</div>
                </div>
                <div>
                    <div id="c-derham">0</div>
                    <div id="c-dollar">0</div>
                    <div id="c-rial">0</div>
                </div>
            </div>
        </div>
        <div class="cart__form">
            <form action="{% url 'cart' %}" id="cartForm" method="POST" class="cart__form-box">
                <div class="form-control">
                    <input name="firstname" type="text" placeholder="{% trans 'first name' %}*">
                </div>
                <div class="form-control">
                    <input name="lastname" type="text" placeholder="{% trans 'sir name'  %}*">
                </div>
                <div class="form-control">
                    <input name="phone" type="text" placeholder="{% trans 'phone number'  %}*">
                </div>
                <div class="form-control">
                    <input name="email" type="email" placeholder="{% trans 'email'  %}*">
                </div>
                <div class="form-control">
                    <select id="provinces" name="province">
                        <option value="null">{% trans '* province' %}</option>
                    </select>
                </div>
                <div class="form-control">
                    <select id="states" name="city">
                        <option value="null">{% trans '* city' %}</option>
                    </select>
                </div>
                <div class="cart__form-btns">
                    <button type="submit" class="btn-green-fill">{% trans 'submit the form' %}</button>
                    <button type="reset" class="btn-red-border" onclick="removeItemsFromCart();">{% trans 'remove all' %}</button>
                </div>
                <!-- Error List -->
                <div class="cart__form__elist">
                    <div class="cart__form__el-item">{% trans 'After submiting the form, we will contact you within 24 hours' %}</div>
                </div>
            </form>
        </div>
    </div>
</main>

{{ province_table|json_script:"province-table"}}

<Script>
    const updateValuesInLocalStorage = (slug, new_qty) => {
        const cart_items = JSON.parse(localStorage.getItem("shopping_cart"));
        for (const item in cart_items) {
            if (cart_items[item].slug == slug) {
                cart_items[item].qty = new_qty;
            }
        }
        localStorage.setItem("shopping_cart", JSON.stringify(cart_items));
    };

    const calculateFinalPrice = () => {
        let total_rial=0, total_dollar=0, total_derham=0;
        $("input[data-base]").each((i, input_field) => {
            const price = input_field.value * input_field.dataset.base;
            switch (input_field.dataset.currency) {
                case "ًریال":
                    total_rial += price
                    break;
                case "درهم":
                    total_dollar += price
                    break;
                case "$":
                    total_derham += price
                    break;
            }
            updateValuesInLocalStorage(input_field.dataset.slug, input_field.value);
            console.log(price);
        });
        $("#c-rial").text(total_rial);
        $("#c-derham").text(total_derham);
        $("#c-dollar").text(total_dollar);
    };

    const changePrice = (field, opr, amount) => {
        if (!field || !opr || !amount) return;
        console.log(field, opr, amount);
        let previous_val = 0;
        switch (opr) {
            case "inc":
                previous_val = +$(field).val();
                $(field).val(previous_val + amount)
                break;
            case "dec":
                previous_val = +$(field).val();
                if (previous_val <= 1) return;
                $(field).val(previous_val - amount);
                break;
            default:
                throw new Error(
                    "operation is not supported, use eaither 'inc' or 'dec'"
                    +"to increase or decrease the value"
                );
        }
        calculateFinalPrice();
    }

    $(document).ready(function() {

        function sortSelect(selElem) {
            var tmpAry = new Array();
            for (var i=0;i<selElem.options.length;i++) {
                tmpAry[i] = new Array();
                tmpAry[i][0] = selElem.options[i].text;
                tmpAry[i][1] = selElem.options[i].value;
            }
            tmpAry.sort();
            while (selElem.options.length > 0) {
                selElem.options[0] = null;
            }
            for (var i=0;i<tmpAry.length;i++) {
                var op = new Option(tmpAry[i][0], tmpAry[i][1]);
                selElem.options[i] = op;
            }
        }

        const province_table = JSON.parse(document.getElementById("province-table").textContent);
        const $province_select = $("#provinces");
        const $cities_select = $("#states");
        for (const province in province_table) {
            let $province_opt = new TemplateFormatter(T_select_opt, {
                val: province,
                txt: province
            }).getJqueryElement();
            $province_select.append($province_opt);
        }
        sortSelect(document.getElementById("provinces"));
        $province_select.change(event => {
            $cities_select.empty();
            for (const city of province_table[event.currentTarget.value]) {
                let $city_opt = new TemplateFormatter(T_select_opt, {
                    val: city,
                    txt: city
                }).getJqueryElement();
                $cities_select.append($city_opt);
            }
            sortSelect(document.getElementById("states"));
        })

        let cart_items = JSON.parse(localStorage.getItem("shopping_cart"));
        for (const item of cart_items) {
            getProduct(item.slug).then(data => {
                console.log(data.currency)
                $("#psection").append(`<tr class="product" style="margin: 30px;">
                <td class="product-img">
                  <img src="${data.product_photo}" alt="">
                </td>
                <td class="product-description">${data.product_name}</td>
                <td class="product-code">${data.brand}</td>
                <td class="product-price">${data.price}${data.currency}</td>
                <td class="product-order-number">
                  <div class="d-flex num-product">
                    <input type="text" class="input-green-border num-product-input" onchange="calculateFinalPrice();" value="${item.qty}" data-base="${data.price}" data-currency="${data.currency}" data-slug="${data.slug}">
                    <button class="btn-green-fill num-product-add" onclick="changePrice($(this).siblings('input'), 'inc', 1);">
                      <i class='bx bx-message-square-add'></i>
                    </button>
                    <button class="btn-red-fill num-product-remove" onclick="changePrice($(this).siblings('input'), 'dec', 1);">
                      <i class='bx bx-message-square-minus'></i>
                    </button>
                  </div>
                </td>
                <td>
                  <div class="delete">
                    <a href="#" class="img">
                      <img src="./assets/img/delete.png" alt="">
                    </a>
                  </div>
                </td>
              </tr>`)
              calculateFinalPrice();
            });
        }
        let items = JSON.stringify(localStorage.getItem('shopping_cart'))
        let input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "items").val(items);
        $("#cartForm").append(input);
        $("#cartForm").submit(event => {
            removeItemsFromCart();
        });
    });
</script>

{% endblock %}