{% extends 'base.html' %} {% load static %} {% block content %}
<main>
    <!-- Category -->
    <div class="cat">
        <div class="plist-title">Brands</div>
        <div class="plist-hr"></div>
        <div class="cat-box">
            <div class="cat__brands">
                <div class="cat__brands__list">
                    {% for brand in brands %}
                    {% if brand.show_in_homepage %}
                    <a href="#" class="cat__brands__list__item">
                        <div class="cat__brands__list__item-box">
                            <div class="cat__brands__list__item-img">
                                <img src="{{ brand.logo.url }}" alt="">
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="cat__dashed-border"></div>
            <!-- Category Product List -->
            <div class="cat__plist">
                <!-- Side Right -->
                <div class="cat__plist-sr">
                    <div class="cat__plist__categories">
                        <div class="cat__plist__categories-title">دسته بندی ها</div>
                        <div class="cat__plist__categories__list">
                        {% if categories %}
                        {% for category in categories %}
                            <a href="#" class="cat__plist__categories__list-item active">{{ category.category_title }}</a>
                        {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                    <div class="cat__plist__consent">
                        <div class="cat__plist__consent-title">آیا از سایت ما رضایت دارید ؟</div>
                        <form class="cat__plist__consent-box">
                            <div class="cat__plist__consent-stars">
                                <input type="radio" name="rank_star" value="1" id="rank_star_01" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_01" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                                <input type="radio" name="rank_star" value="2" id="rank_star_02" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_02" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                                <input type="radio" name="rank_star" value="3" id="rank_star_03" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_03" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                                <input type="radio" name="rank_star" value="4" id="rank_star_04" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_04" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                                <input type="radio" name="rank_star" value="5" id="rank_star_05" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_05" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Side Left -->
                <div class="cat__plist-sl">
                    <!-- Sort By -->
                    <div class="cat__plist__sb">
                        <div class="scroll">
                            <div class="cat__plist__sb-title">مرتب سازی بر اساس:</div>
                            <div class="cat__plist__sb__list">
                                <a href="#" class="cat__plist__sb__list-item active">جدیدترین</a>
                                <a href="#" class="cat__plist__sb__list-item">پر بازدید ترین</a>
                                <a href="#" class="cat__plist__sb__list-item">موجود ها</a>
                                <a href="#" class="cat__plist__sb__list-item">محبوب ترین</a>
                            </div>
                        </div>
                    </div>
                    <div class="cat__plist-box">
                        <div class="cat__plist__information">
                            <div class="cat__plist__information-title">leitungen</div>
                            <!-- Product Number -->
                            <div class="cat__plist__information-pnum">{{ products|length }} کالا جستجو شده</div>
                        </div>
                        <div class="cat__plist-cards">
                        {% if products %}
                            {% for product in products %}
                            <div class="cat__plist__card">
                                <div class="cat__plist__card-box">
                                    <div class="cat__plist__card-img">
                                        <img src="{{ product.product_photo.url }}" alt="">
                                    </div>
                                    <div class="cat__plist__card-title">{{ product.product_name }}</div>
                                    <div class="cat__plist__card-description">{{ product.description }}</div>
                                    <!-- Alternative Name List -->
                                    {% if product.alternative_name_1 or product.alternative_name_2 or product.alternative_name_3 or product.alternative_name_4  %}
                                    <div class="cat__plist__card__anl">
                                        <div class="cat__plist__card__anl-title">AlterNative Name</div>
                                        {% if product.alternative_name_1 %}
                                        <div class="cat__plist__card__anl-item">{{ product.alternative_name_1 }}</div>
                                        {% endif %}
                                        {% if product.alternative_name_2 %}
                                        <div class="cat__plist__card__anl-item">{{ product.alternative_name_2 }}</div>
                                        {% endif %}
                                        {% if product.alternative_name_3 %}
                                        <div class="cat__plist__card__anl-item">{{ product.alternative_name_3 }}</div>
                                        {% endif %}
                                        {% if product.alternative_name_4 %}
                                        <div class="cat__plist__card__anl-item">{{ product.alternative_name_4 }}</div>
                                        {% endif %}
                                        
                                    </div>
                                    {% endif %}
                                    <a href="{% url 'product' product.slug %}" class="cat__plist__card-link">اطلاعات بیشتر</a>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                    <div class="cat__plist__paginator">
                        <div class="cat__plist__paginator-list">
                            <a href="#" class="cat__plist__paginator-item">1</a>
                            <a href="#" class="cat__plist__paginator-item active">2</a>
                            <a href="#" class="cat__plist__paginator-item">3</a>
                            <a href="#" class="cat__plist__paginator-item">4</a>
                            <a href="#" class="cat__plist__paginator-item">5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}