{% extends 'base.html' %} {% load static %} {% load i18n %} {% block content %}
<main>
    <!-- Category -->
    <div class="cat">
        <div class="plist-title">{% trans 'Brands' %}</div>
        <div class="plist-hr"></div>
        <div class="cat-box">
            <div class="cat__brands">
                <div style="width: 100%; margin: 30px 0;" 
                data-flickity='{"groupCells": true, "autoPlay": 3000}'>
                    {% for brand in brands %}
                    {% if brand.show_in_homepage %}
                    <a href="{% url 'categories' %}?page={{page_number}}&category={{current_category}}&filter={{filter_on}}&brand={{brand.slug}}" class="cat__brands__list__item">
                        <div class="cat__brands__list__item-box">
                            <div class="cat__brands__list__item-img">
                                <img src="{{ brand.logo.url }}" alt="">
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="cat__dashed-border"></div>
            <!-- Category Product List -->
            <div class="cat__plist">
                <!-- Side Right -->
                <div class="cat__plist-sr">
                    <div class="cat__plist__categories">
                        <div class="cat__plist__categories-title">{% trans 'دسته بندی ها' %}</div>
                        <div class="cat__plist__categories__list">
                        {% if categories %}
                            {% for category in categories %}
                                {% if not category.parent%}
                                    <div class="category-tree"
                                    {% if category.children.all|length %} data-has-children="true" {% endif %}>
                                        <div class="category-link flex row">
                                            <button
                                            class="category-tree-expand {% if not category.children.all|length %}disabled{% endif %}">+
                                            </button><a href="{% url 'categories' %}?page={{page_number}}&category={{category.slug}}&filter={{filter_on}}&brand={{brand_name}}">{{ category.category_title }}</a>
                                        </div>
                                        {% if category.children.all|length%}
                                            {% with category.children.all as categories %}
                                                {% include "categories/category_tree.html"%}
                                            {% endwith %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                    <div class="cat__plist__consent">
                        <div class="cat__plist__consent-title">{% trans 'آیا از سایت ما رضایت دارید ؟' %}</div>
                        <form class="cat__plist__consent-box">
                            <div class="cat__plist__consent-stars">
                                <input type="radio" name="rank_star" value="1" id="rank_star_01" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_01" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                                <input type="radio" name="rank_star" value="2" id="rank_star_02" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_02" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                                <input type="radio" name="rank_star" value="3" id="rank_star_03" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_03" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                                <input type="radio" name="rank_star" value="4" id="rank_star_04" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_04" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                                <input type="radio" name="rank_star" value="5" id="rank_star_05" hidden>
                                <div class="cat__plist__consent-rank-box">
                                    <label for="rank_star_05" class="cat__plist__consent-star">
                      <i class="bx"></i>
                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Side Left -->
                <div class="cat__plist-sl">
                    <!-- Sort By -->
                    <div class="cat__plist__sb">
                        <div class="scroll">
                            <div class="cat__plist__sb-title">{% trans 'مرتب سازی بر اساس:' %}</div>
                            <div class="cat__plist__sb__list" data-filter-on={{ filter_on }} id="filter-list">
                                <a href="#" class="cat__plist__sb__list-item" data-fvalue="newest">{% trans 'جدیدترین' %}</a>
                                <a href="#" class="cat__plist__sb__list-item" data-fvalue="most-visited">{% trans 'پر بازدید ترین' %}</a>
                                <a href="#" class="cat__plist__sb__list-item" data-fvalue="in-stock">{% trans 'موجود ها' %}</a>
                                <a href="#" class="cat__plist__sb__list-item">{% trans 'محبوب ترین' %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="cat__plist-box">
                        <div class="cat__plist__information">
                            <div class="cat__plist__information-title">leitungen</div>
                            <!-- Product Number -->
                            <div class="cat__plist__information-pnum">{{ num_products }} {% trans  'کالا جستجو شده' %}</div>
                        </div>
                        <div class="cat__plist-cards">
                        {% if products %}
                            {% for product in products %}
                            <div class="cat__plist__card">
                                <div class="cat__plist__card-box">
                                    <div class="cat__plist__card-img">
                                        {% if product.product_photo %}
                                        <img src="{{ product.product_photo.url }}" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="cat__plist__card-title">{{ product.product_name }}</div>
                                    <div class="cat__plist__card-description">{{ product.description }}</div>
                                    <!-- Alternative Name List -->
                                    {% if product.alternative_name_1 or product.alternative_name_2 or product.alternative_name_3 or product.alternative_name_4  %}
                                    <div class="cat__plist__card__anl">
                                        <div class="cat__plist__card__anl-title">{% trans 'Alternative Name' %}</div>
                                        {% if product.alternative_name_1 %}
                                        <div class="cat__plist__card__anl-item">{{ product.alternative_name_1 }}</div>
                                        {% endif %}
                                        {% if product.alternative_name_2 %}
                                        <div class="cat__plist__card__anl-item">{{ product.alternative_name_2 }}</div>
                                        {% endif %}
                                        {% if product.alternative_name_3 %}
                                        <div class="cat__plist__card__anl-item">{{ product.alternative_name_3 }}</div>
                                        {% endif %}
                                        {% if product.alternative_name_4 %}
                                        <div class="cat__plist__card__anl-item">{{ product.alternative_name_4 }}</div>
                                        {% endif %}
                                        <div style="margin-top: 15px;">تعداد مشاهده: {{ product.reviews_count }}</div>
                                    </div>
                                    {% endif %}
                                    <a href="{% url 'product' product.slug %}" class="cat__plist__card-link">{% trans 'اطلاعات بیشتر' %}</a>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                    <div class="cat__plist__paginator">
                        <div class="cat__plist__paginator-list">
                            {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                            <a class="cat__plist__paginator-item active">{{ i }}</a>
                            {% else %}
                            <a href="?page={{i}}&category={{current_category}}&filter={{filter_on}}&brand={{brand_name}}" class="cat__plist__paginator-item">{{ i }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}

{% block extra_scripts %}
<script>
    highlightNavbarLink("nl-categories");

    const highlihgtFilter = () => {
        const filter = $("#filter-list").data("filter-on");
        const $filter_el = $(`[data-fvalue="${filter}"]`);
        $filter_el.addClass("active");
        $filter_el.siblings().removeClass("active");
    }

    const expandCategories = () => {
        $(".category-tree[data-has-children] > .category-link > button").click(event => {
            const ctree = $(event.currentTarget).parent().parent().find("> .category-tree");
            ctree.fadeToggle(300);
            const text = $(event.currentTarget).text();
            $(event.currentTarget).text(text == "-"? "+":"-");
        }); 
    }

    $(".cat__plist__sb__list-item").click(event => {
        event.preventDefault();
        let new_url = new URL(window.location);
        if ($(event.target).hasClass("active")) 
            // remove the filter if user clicks the active filter
            new_url.searchParams.delete("filter");
        else
            new_url.searchParams.set("filter", $(event.target).data("fvalue"));
        window.location = new_url.href;
    });

    highlihgtFilter();
    expandCategories();
</script>
{% endblock extra_scripts %}