{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/lib/flickity/flickity.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.map.ir/web-sdk/1.4.2/css/mapp.min.css">
    <link rel="stylesheet" href="https://cdn.map.ir/web-sdk/1.4.2/css/fa/style.css">
    <link rel="icon" href="{% static 'img/SAHARA LOGO.png' %}">
    
    <script type="text/javascript" src="https://cdn.map.ir/web-sdk/1.4.2/js/jquery-3.2.1.min.js"></script>
    <title>صحارا</title>
</head>

<body>
    <!-- Chooser Language, Phone Number, WebSite Address -->
    <header>
        <div class="chooser-lang">
            <a href="#" class="persian active" onclick="changeLang('fa');" id="lng-fa">Persian</a>
            <span>/</span>
            <a href="#" class="english" onclick="changeLang('en');" id="lng-en">English</a>
        </div>
        <div class="phone-num">
            <a href="tell:+981234567890">+98&nbsp;123&nbsp;456&nbsp;7890</a>
            <span>&nbsp;&colon;&nbsp;{% trans 'phone number' %}</span>
        </div>
        <div class="website-address">
            <a href="">www.saharasupply.com</a>
        </div>
    </header>
    <nav>
        <div class="nav__openner">
            <i class='bx bx-menu'></i>
            <span class="name">{% trans 'menu' %}</span>
        </div>
        <div class="nav__items">
            <div class="times">
                <i class='bx bx-x'></i>
            </div>
            <div class="nav__item-box" id="nl-home">
                <a href="{% url 'index' %}" class="nav__item active">
                    <span>{% trans 'home page' %}</span>
                </a>
            </div>
            <div class="nav__item-box" id="nl-categories">
                <a href="{% url 'categories' %}" class="nav__item">
                    <span>{% trans 'brands and prducts' %}</span>
                </a>
            </div>
            <div class="chooser-lang">
                <a href="" class="persian active">Persian</a>
                <span>/</span>
                <a href="" class="english">English</a>
            </div>
        </div>
        <div class="nav__cart">
            <a href="{% url 'cart' %}" class="nav__cart__item">
                <span id="cartItems" class="badge">0</span>
                <i class='bx bx-cart-alt'></i>
                <span class="name">{% trans 'shopping list' %}</span>
            </a>
        </div>
        <div class="nav__search">
            <form  id='navSearch' action="">
                <div class="nav__search-icon" id="search-btn">
                    <i class='bx bx-search'></i>
                </div>
                <div class="nav__search-input">
                    <input id="keyword" type="text" placeholder="{% trans 'search for products' %}">
                </div>
            </form>
            <div class="nav__search-border"></div>
        </div>
    </nav>
    <main>{% block content %}{% endblock %} </main>
    <div class="sl">
		<div class="sl-box">
			<div class="sl-close">
				<i class='bx bx-x'></i>
			</div>
			<div class="scroll">
				<div class="sl-root">
					<div class="sl__pdetail">
						<div class="sl__pdetail-box">
							
						</div>
						<div class="sl__pdetail__pnum d-flex num-product">
							<input type="text" class="input-green-border sl__pdetail__pnum-input num-product-input" value="1" min="1">
							<button class="btn-green-fill num-product-add sl__pdetail__pnum-add">
								<i class='bx bx-message-square-add'></i>
							</button>
							<button class="btn-red-fill num-product-remove sl__pdetail__pnum-remove">
								<i class='bx bx-message-square-minus'></i>
							</button>
							<span class="sl__pdetail__pnum-text">{% trans 'number of products' %}</span>
						</div>
						<!-- Download Product Information -->
						<a href="#" class="sl__pdetail-dpi">{% trans "download the product's specification file" %}</a>
						<!-- Add Product To Cart -->
						<a href="#" class="sl__pdetail-atc">{% trans 'add to list' %}</a>
					</div>
					<div class="sl__plist">
						<!-- Product Number Result -->
						<div class="sl__plist__pnr">
							<div class="sl__plist__pnr-title">{% trans 'searched products' %}</div>
							<div class="sl__plist__pnr-num">25</div>
						</div>
						<div class="scroll">
							<div class="sl__plist-box">
								
							</div>
						</div>
						<div class="sl__plist__paginator">
							<div class="sl__plist__paginator-list">
								<a href="#" class="sl__plist__paginator-item">1</a>
								<a href="#" class="sl__plist__paginator-item active">2</a>
								<a href="#" class="sl__plist__paginator-item">3</a>
								<a href="#" class="sl__plist__paginator-item">4</a>
								<a href="#" class="sl__plist__paginator-item">5</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <footer>
        <div class="footer__cp">{% trans 'All rights are reserved for this comapny' %}
            <span class="sucess">&nbsp;*****&nbsp;</span>{% trans  'and making any copies of it' %}
            <span class="danger">&nbsp;{% trans 'will cause prosecution' %}&nbsp;</span>
        </div>
        <div class="footer__item footer__item__list">
            <div class="footer__item__list-title">{% trans 'fast access' %}</div>
            <span class="footer__item__list-item">{% trans 'آدرس: تهران بلوار آفریقا خیابان ناهید غربی پلاک ۵۶ واحد ۵ طبقه اول' %}</span>
            <span class="footer__item__list-item">{% trans 'phone:  26219844' %}</span>
            <span class="footer__item__list-item">{% trans 'fax: 26219845' %}</span>
        </div>
        <div class="footer__item footer__item__list">
            <div class="footer__item__list-title swap">{% trans 'fast access' %}</div>
            <a href="#" class="footer__item__list-item swap">{% trans 'home page' %}</a>
            <a href="#" class="footer__item__list-item swap">{% trans 'brands' %}</a>
            <a href="#" class="footer__item__list-item swap">{% trans 'products' %}</a>
            <a href="#" class="footer__item__list-item swap">{% trans 'about us' %}</a>
        </div>
        <div class="footer__item footer__item__social">
            <span class="footer__item__social-title">{% trans 'follow us on social medias' %}</span>
            <div class="footer__item__social-icons">
                <a href="" class="footer__item__social-icon">
                    <i class="bx bxl-google-plus bx-tada-hover"></i>
                </a>
                <a href="" class="footer__item__social-icon">
                    <i class="bx bxl-instagram bx-tada-hover"></i>
                </a>
                <a href="" class="footer__item__social-icon">
                    <i class="bx bxl-linkedin bx-tada-hover"></i>
                </a>
                <a href="" class="footer__item__social-icon">
                    <i class="bx bxl-whatsapp bx-tada-hover"></i>
                </a>
            </div>
            <div class="footer__item__newsletters">
                <a href="#" class="footer__item__newsletters-span">{% trans 'share your comments with us' %}</a>
                <a href="#" class="footer__item__newsletters-title">{% trans 'subscribe our newsletter' %}</a>
                <div class="footer__item__newsletters-icon">
                    <i class='bx bx-envelope bx-tada-hover'></i>
                </div>
            </div>
        </div>
    </footer>
</body>

<script>
    const changeLang = (lang) => {
        localStorage.setItem("plang", lang)
        const path = window.location.pathname.substr(3);
        window.location = (`/${lang}${path}${window.location.search}`);
    };

    const prefered_lang = localStorage.getItem("plang");
    if (prefered_lang != window.location.pathname.substr(1, 2)) 
        changeLang(prefered_lang);

    const $el = $(`#lng-${window.location.pathname.startsWith('/en')? 'en' : 'fa' }`);
    $el.addClass("active");
    $el.siblings().removeClass("active");
</script>

<script src="{% static 'js/lib/flickity/flickity.pckd.js' %}"></script>
<script src="{% static 'js/context_templates.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block extra_scripts %}{% endblock extra_scripts %}
</html>